@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.p1 {
  padding: 0 5rem 0 5rem;
}
ul{
  list-style: none;
}
.m1{
  margin: 2rem 0 ;
}